.button:hover {
    color: bisque;
}

.left {
    position: fixed;
}

.menus {
    text-align:center;
}

.menus a:hover {
    color: bisque;
}

.res {
    flex: 50%;
    padding: 5px;
}

.link {
    font-size:50%;
    text-transform:uppercase;
    letter-spacing:1px;
    display:block;
    width:215px;
    position:absolute;
    left:225px;
    margin-top:14px;
    border:2px solid #69483a;
    opacity:0;
    visibility:hidden;
    transition:all 0.3s ease 0.1s;
}

ul#menu {
    text-align-all: center;
    list-style-type:none;
    margin:10px -5px 0 0;
    padding:0;
    font-size:190%;
}

ul#menu a {
    color:#69483a;
    -webkit-transition:all 0.3s ease 0.1s;
    -moz-transition:all 0.3s ease 0.1s;
    -o-transition:all 0.3s ease 0.1s;
    transition:all 0.3s ease 0.1s;
}

.mbtn {
    text-align-all: center;
    display:inline-block;
    height:35px;
    width:41px;
}

ul#menu li {
    display:inline-block;
    margin-right:0px;
    height:35px;
    width:41px;
    line-height:35px;
    -webkit-box-shadow:inset 0 0 0 0 #d9cabb;
    -moz-box-shadow:inset 0 0 0 0 #d9cabb;
    box-shadow:inset 0 0 0 0 #d9cabb;
    -webkit-transition:all 0.3s ease 0.1s;
    -moz-transition:all 0.3s ease 0.1s;
    -o-transition:all 0.3s ease 0.1s;
    transition:all 0.3s ease 0.1s;
}

ul#menu li:hover {
    -webkit-box-shadow:inset 0 36px 0 0 #d9cabb;
    -moz-box-shadow:inset 0 36px 0 0 #d9cabb;
    box-shadow:inset 0 36px 0 0 #d9cabb;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
}

ul#menu li:hover a {
    color:#69483a;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
}

ul#menu .mbtn:hover + .link {
    color:#69483a;
    opacity:1;
    visibility:visible;
    -webkit-box-shadow:inset 0 0 0 0 #69483a;
    -moz-box-shadow:inset 0 0 0 0 #69483a;
    box-shadow:inset 0 0 0 0 #69483a;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
}

.link:hover {
    color:antiquewhite;
    visibility:visible;
    opacity:1;
    letter-spacing:4px;
    -webkit-box-shadow:inset 215px 0 0 0 #69483a;
    -moz-box-shadow:inset 215px 0 0 0 #69483a;
    box-shadow:inset 215px 0 0 0 #69483a;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
}

#over {
    height:100%;
    width:100%;
    background-color:#69483a;
    position:fixed;
    top:0;
    left:0;
    z-index:10;
    display:none;
}

.ion-close-round {
    font-size:100%;
    color:#69483a;
}

#close:hover .ion-close-round {
    color:#69483a;
}

#close {
    text-align:center;
    width:237px;
    margin:0 auto;
    cursor:help;
    padding:0px 0;
    background-color:#69483a;
}

ul#nav {
    width:240px;
    margin:7px auto 0;
    padding:0;
    list-style-type:none;
}

ul#nav li {
    width:108px;
    padding:0px;
    margin-bottom:2px;
    text-align:center;
    display:inline-block;
    text-transform:uppercase;
    font-size:85%;
    letter-spacing:1px;
    color:#69483a;
    background-color:#f8f8f8;
}

ul#nav li:hover {
    background-color:#69483a;
}
